[Unit]
Description=Generate rauc-hawkbit-updater device identity from hardware
Before=rauc-hawkbit-updater.service
After=sys-subsystem-net-devices-eth0.device systemd-networkd-wait-online.service

[Service]
Type=oneshot
ExecStart=/usr/bin/rauc-hawkbit-identity.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
